* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #1b1b1b;
    background: #ffffff;
}


/* NAVBAR */

.navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8%;

    background: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #116530;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.menu a:hover {
    color: #116530;
}


/* HERO */

.hero {
    min-height: 650px;

    display: flex;
    align-items: center;

    padding: 80px 8%;

    background:
        linear-gradient(
            rgba(0, 50, 25, 0.75),
            rgba(0, 50, 25, 0.75)
        ),
        url("https://images.unsplash.com/photo-1523050854058-8df90110c9f1")
        center/cover;
}

.hero-content {
    max-width: 750px;
    color: white;
}

.small-title {
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 60px;
    line-height: 1.1;
    margin-bottom: 25px;
}

.hero h1 span {
    color: #8ee39a;
}

.description {
    font-size: 18px;
    line-height: 1.7;
    max-width: 650px;
    margin-bottom: 35px;
}


/* BUTTON */

.buttons {
    display: flex;
    gap: 15px;
}

.btn-primary,
.btn-secondary {
    padding: 14px 25px;
    border-radius: 8px;

    text-decoration: none;
    font-weight: bold;
}

.btn-primary {
    background: #65c466;
    color: white;
}

.btn-secondary {
    border: 1px solid white;
    color: white;
}


/* ABOUT */

.about {
    padding: 100px 8%;
    max-width: 1100px;
    margin: auto;
}

.section-label {
    color: #18813a;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.about h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about p {
    font-size: 17px;
    line-height: 1.8;
}


/* FOOTER */

footer {
    text-align: center;
    padding: 25px;

    background: #0d4527;
    color: white;
}